* {
    font-family: 'Source Sans Pro', sans-serif;
    // font-size: 16px;
    }
h1, h2 {font-size:2em; margin: 0; padding: 0;}
h3 {font-size: 1.8em; font-weight: 400; margin: 0 0 .8em; padding: 0;}
h4 {font-size: 1.2em; font-weight: 600; margin: 0 0 .8em; padding: 0;}
p { color: #292d2d; font-weight: 400; margin: 0 0 1.6em; line-height: 1.8em; padding: 0; letter-spacing: 0.01em; font-size: 1.1em}

a {color: #fc3437; text-decoration: none;}
a:hover {color: #e53039;}
a:active {background-color:#e9f4f4; color: #e53039;}
a.logoLink {color: #292d2d;}

body {padding: 0em; margin: 0;}

img {display: block; margin: 0 auto; max-width: 80%; height: auto; width: auto\9; /* ie8 */}

figure {padding: 0; margin: 0 0 2em;}
figcaption {font-size: .6em; padding: 1em 0 0 ; font-style: italic; text-align: center; }
figcaption a {font-size: 1em}
strong {font-weight: 400;}
.Navbar__Link-brand strong {font-weight: 600}
li {margin: 0 0 .4em; }
li p {margin: 0;}
blockquote {border-left: 2px solid #fc3437; margin: 0; padding: 0 5%; font-style: italic;}
table {margin: 0 0 2em; width: 100%;}
th, td {border-bottom: 1px solid #ccc;}
thead {text-align: left;}
code {font-family: 'Courier New', Courier, monospace; font-size: 0.8em; font-weight: bold; padding: 1em; background: #2a2e39; display: block; white-space : pre-wrap !important; color: #b0d0d0;}
span code {display: inline; padding: 0.2em 0.5em; border-radius: 2px;}
strong {font-weight: 600;}
sup {line-height: 0;}
ul {margin: 0 0 2em;}

.header {
    margin: 0;
    padding: 1em 0;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    //cludge for convertkit
    z-index: 10;
}

.header .item {
    display: inline-block;
    width: 33%;
    font-size: .8em; 
}

.item.logo {
    font-weight: 700;
 
}
.content, .footer {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 2em;
}

.f-text {
  opacity: 0.5;
}

.section {
    
    padding: 0 0 2.6em 0;
    margin: 0 auto .5em auto;
}

.avatar {
    max-width: 25%; 
    display: block; 
    margin: 2em auto 3em;
}

.first {
    margin-top: 8em;
}

.project-category {
    display: inline-block;
    font-size: .6em;
    color: #444444;
    margin: 1em 0;
    padding: .6em;
    background: rgb(228, 228, 228);
    border-radius: 3em;
}

.postdate {
    display: block; 
    font-size: .8em;
    padding: 1em 0;
}
.icon {
    font-size: 0.6em;
}

  .Navbar {
    display: flex;
    padding: 16px;
    
    color: #222222;
  }
  
  .Navbar__Link {   
    padding: 0 16px;
    font-size: 1em;
  }
  
  .Navbar__Items {
    display: flex;
   }
  
  .Navbar__Items--center {
    margin: 0 auto;
  }
  
  .Navbar__Items--right .Navbar__Link {
   /*padding-left: 16px;*/
  }
  
  .Navbar__Link-toggle {
    display: none;
  }
  
  @media only screen and (max-width: 768px) 
  {
    img {max-width: 100%;}
    .avatar {max-width: 40%; }
    .Navbar__Items,
    .Navbar {
      flex-direction: column;
    }
    .Navbar__Link span {
        display: block;
        margin: 20px 0 ;
    }
    .Navbar__Items--center {
        
        margin: 10px 0 ;
        padding: 10px 0;
        
    }

    .Navbar__Items {
      display:none;
    }
    .Navbar__Items--right {
      margin-left:0;
    }

    .Navbar__ToggleShow {
      display: flex;
      background: #f4f4f4;
    }

    .Navbar__ToggleShow .social {
        display: inline-block;
    }

    .Navbar__Link-toggle {
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
     } 
  }

  .last {
    padding-bottom: 2em;
    font-size: .8em;
    text-align: center;
  }

/* make iframes behave*/

.h_iframe, iframe {
    width:100%;
    margin: 0 0 1.2em;
}
.h_iframe {
    width:100%;
}

ul.newsletter {
  margin: 0; padding: 0;
}
ul.newsletter li {
  list-style: none; 
  margin: 0 0 1em;
}

ul.newsletter li span {
  display: block; 
  padding: 1em; 
  border: 1px solid #f5e5e1;
  list-style: none; 
  border-radius: 5px; 
  box-shadow: 0em 0.1em 0.3em 0 #f5e5e1;
}

ul.newsletter li span p.datestamp {
  color: #bbb
}

ul.newsletter h3 {
  color: #fc3437;
}

ul.article-list {
  margin: 0; 
  padding: 0;
}

ul.article-list li {
  border-bottom: 1px solid #eee; 
  list-style: none; 
  margin: 0 0 2em 0;
}

ul.article-list li h4 {
  margin: 0 0 .2em; 
}

ul.article-list li p {
  font-size: 0.9em; 
  margin-bottom: .2em;
}

p.disclaim {
  font-size: .9em;
  text-align: center;
  margin: 4em 0 0;
}

:target::before {
  content: "";
  display: block;
  margin-top: -2.75em;
  height: 2.75em;
  width: 1px;
}

@media (prefers-color-scheme: dark) {
  body {background: #1e1e1e;color: #c9c9c9}
  p {color: #c9c9c9}
  a {color: #f58984; text-decoration: none;}
  a:hover {color: #f58984;}
  a:active {background-color:#111111; color: #f58984;}
  a.logoLink {color: #e9f4f4;}
  .header {background-color:#1e1e1e}
  ul.article-list li {border-bottom: 1px solid #414141}
  hr {border: 1px solid #414141}
  ul.newsletter h3 {color: #f58984}
  ul.newsletter li span {border: 1px solid #414141;  box-shadow: none }
  ul.newsletter li span img {background: #ffffff;}  
  .Navbar {color: #c9c9c9;}
  .Navbar__ToggleShow {background: #313131;}
  .social a {color: #c9c9c9}
}
