---
layout: "wrapper"
---


<p class="postdate">
👨‍💻 Jonathan Roberts <br/>
🗓 {{ page.date | date_to_long_string }} <br/>
⏱ {{ page.readtime }} <br/>
💬 {{ page.commentstatus }}
</p>

{{ content }}


<div id="hyvor-talk-view"></div>
<script type="text/javascript">
    var HYVOR_TALK_WEBSITE = 884; // DO NOT CHANGE THIS
    var HYVOR_TALK_CONFIG = {
        url: '{{ page.url | absolute_url }}',
        id: '{{page.id}}'
    };
</script>
<script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>