---
layout: "wrapper"
---


<p class="postdate">
👨‍💻 Jonathan Roberts <br/>
🗓 {{ page.date | date_to_long_string }} <br/>
⏱ {{ page.readtime }} <br/>
</p>

{{ content }}

<p class="disclaim">© Jonathan Roberts {{ page.date | date: "%Y" }}<br/>
    I occasionally update articles to fix typos, improve readability or modify content when new information is available to me. <a href="https://github.com/jonnyrobots/roberts.work/commits/gh-pages/{{page.path | replace:'.html','.md'}}">View revisions for this article</a>.</p>
